.text-field__wrapper {
    border-radius: 5px;
}

.text-field {
    position: relative;
    border-radius: inherit;
}

.text-field .text-field__label {
    color: grey;
    font-size: 12.5px;
}

.text-field--inline .text-field__label {
    position: absolute;
    left: 0;
    padding-inline: 10px;
    z-index: -1;
    top: calc(50% - 7px);
    opacity: 0;
    transition: all .3s ease;
}

.text-field .text-field__input {
    border: 1px solid transparent;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    transition: all .3s linear;
    padding: 20px 10px;
    font-size: 14px;
    border-radius: inherit;
}

.text-field--inline .text-field__input:not(:placeholder-shown) {
    padding: 28px 10px 12px 10px;
}

.text-field--inline .text-field__input:not(:placeholder-shown)+.text-field__label {
    transform: translateY(-12px);
    z-index: 1;
    opacity: .7;
}



.text-field__asterisk {
    text-decoration: none;
}

.error-message {
    visibility: hidden;
    display: inline;
    font-weight: bold;
    color: red;
    transition: all .3s linear;
    font-size: 12px;
}

.text-field .text-field__input:focus {
    outline: none;
}

.text-field .text-field__input:focus-visible {
    border: 1px solid var(--purple-200);
}

.text-field .text-field__input:not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid red;
}

.text-field .text-field__input:not(:focus):not(:placeholder-shown):invalid~.error-message {
    visibility: visible;

}