.text-field {
    position: relative;
    border-radius: 5px;
}

.text-field .text-field__label {
    color: grey;
    font-size: 0.8rem;
}

.text-field--default .text-field__label {
    color: #000;
    font-size: 1.125rem;
    font-weight: 500;
    margin-block-end: 1rem;
    display: block;
}

.text-field--inline .text-field__label {
    position: absolute;
    left: 0;
    padding-inline: 10px;
    z-index: -1;
    top: calc(50% - 7px);
    opacity: 0;
    transition: all .3s ease;
}

.text-field .text-field__input {
    border: 1px solid transparent;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    transition: all .3s linear;
    padding: 20px 10px;
    font-size: 0.875rem;
    border-radius: inherit;
    font-family: unset;
}

.text-field--default .text-field__input {
    min-height: 150px;
}

.text-field--inline .text-field__input:not(:placeholder-shown) {
    padding: 28px 10px 12px 10px;
}

.text-field--inline .text-field__input:not(:placeholder-shown)+.text-field__label {
    transform: translateY(-33px);
    z-index: 1;
    opacity: 1;
}

@media (min-width: 495px) {
    .text-field--inline .text-field__input:not(:placeholder-shown)+.text-field__label {
        transform: translateY(-24px);
    }
}

.text-field__error-message {
    visibility: hidden;
    display: inline;
    font-weight: bold;
    color: red;
    transition: all .3s linear;
    font-size: 0.75rem;
}

.text-field .text-field__input:focus {
    outline: none;
}

.text-field .text-field__input:focus {
    border: 1px solid var(--purple-200);
    box-shadow: 0 0 0 1px rgba(115, 0, 255, 0.2);
}

.text-field .text-field__input:not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid red;
}