:root {
  --purple-100: hsl(291, 27%, 38%);
  --purple-200: hsl(291, 27%, 48%);
  --purple-300: hsl(273, 38%, 94%);
  --grey-100: grey;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.span-cols {
  grid-column: 1 / -1;
}